table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  /* Horizontal borders for table cells */
  border-top: 1px solid #ccc;
  /* Horizontal borders for table cells */
  border-bottom: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  /* #e3e3e3 slight darker shade */
  background-color: rgba(182, 74, 11, 0.323);
  color: rgb(96, 0, 0);;
}

.action {
  text-align: center;
}

input[type=checkbox]:hover {
  cursor: pointer;
}

.delete-btn-container{
  margin-top: 2.5rem;
}