body{
  background-color: #F5F5F5;
  margin: 3rem;
  box-sizing: border-box;
}

/* Entire scrollbar [track+dragable element] */
::-webkit-scrollbar {
  width: 10px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background-color: #F5F5F5;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Draggable element */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #AAAAAA; 
}